body {
    margin:  auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}
/* Part 1 */
.part1{
    position: absolute;
    width: 720px;
    height: 343px;
    left: 0px;
    top: 0px;
    background-image: url(images/torshov.jpg);
    background-size: 100%;
}
.middle{
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-weight: 700;
    color: #ffffff;
}
.part1-title{
    margin-top: 150px;
    margin-bottom: 0;
    background-color: #1D3557;
    width: 225px;
    font-size: 32px;
    line-height: 36.8px;
    border-radius: 10px;
}
.part1-subtitle{
    width: 400px;
    background-color: #457B9D;
    font-size: 18.72px;
    line-height: 21.53px;
    border-radius: 10px;
}
/* Part 2 */
.part2{
    position: absolute;
    width: 720px;
    height: 343px;
    left: 0px;
    top: 343px;
    background-color: #f1faee;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.item{
    line-height: 18.4px;
     
    color: #1D3557;
    margin: 50px;
}
.logo{
    width: 100px;
    height: 99.34px;
    left: 83px;
    top: 59px;
    border-radius: 50%;
}
.text-1{
    font-weight: 700;
    font-size: 16px; 
    
}
.text-2{
    font-weight: 400;
    font-size: 12px; 
}
/* Part 3 */
.part3{
    margin: 70px 0;
    position: absolute;
    width: 720px;
    height: 394px;
    left: 0px;
    top: 686px;
    background-color: #ffffff;
    
}
.per-img{
    width: 180px;
    height: 248.67px;
}
.container{
    width: 400px;
    margin: 0 auto;
    padding: 12px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #A8DADC;
    box-shadow: 0px 6px 0px #1D3557;
    border-radius: 10px;
}
.guide{
    font-family: 'Arial';
    line-height: 18px;
    text-align: center;
    color: #1D3557;
    font-weight: 700;
}
.title{  
    font-size: 24px;
    line-height: 28px;
}
.part3-p{
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
}
.title-down{  
    font-size: 16px;
    line-height: 18px; 
}
